body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
}


.side{
    display: flex;
    flex-direction: column;
    position: fixed;
    background-color: rgb(98, 98, 98);
    border: solid 3px black;
    align-items: center;
    height: 100vh;
    width: 10%;
    transition: .5s;
    transform: translateX(-100%);
    z-index: 100;
}

.side a{
    text-decoration: none;
    color: white;
    width: 90%;
    display: flex;
    justify-content: center;
    margin-top: 5px;
    border: solid 1px black;
}

.side a:nth-child(2n){
    background-color: black;
}

.side button{
    position: absolute;
    top: 0%;
    right: -25px;
    width: 25px;
    height: 100px;
    cursor: pointer;
    background-color: black;
    color: white;
}

.side.hide{
    transform: translateX(0%);
}

main{
    display: flex;
    justify-content: center;
    background-color: aliceblue;
    height: 90%;
}

main.blur{
    filter: blur(1px);
    pointer-events: none;
    background: radial-gradient(
        rgba(0,0,0,0.4) 100%
    );
}

footer{
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
}